@using ClassLibrary1.DataModels
@using System.Security.Claims
@model PaginatedList<Developer>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Developers"];
    bool isVerified = User.HasClaim("IsVerifiedClient", "True");
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<style>
.list-group-item{
    padding: 0px 0px;
}

</style>
<h1 class="mb-4">@Localizer["Developers"]</h1>

@if (isVerified)
{
    <p>
        <a asp-action="Create" class="btn btn-success">@Localizer["Create New"]</a>
    </p>
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>

                    <p class="card-text" style="height: 60px; overflow: hidden;">
                        @item.Description
                    </p>

                    <ul class="list-group list-group-flush small">
                        <li class="list-group-item"><strong>@Localizer["Email"]:</strong> @item.ContactEmail</li>
                    </ul>
                </div>

				<div class="card-footer text-center">
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">@Localizer["Details"]</a>
                    @if (currentUserId == item.AuthorId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">@Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">@Localizer["Delete"]</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center gap-2 mt-4">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-outline-primary @prevDisabled">
        &laquo;
    </a>

    <span class="align-self-center">
        @Localizer["Page"] @Model.PageIndex @Localizer["out of"] @Model.TotalPages
    </span>

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-outline-primary @nextDisabled">
        &raquo;
    </a>
</div>
